<div class="container my-3">
  <div class="row justify-content-between">
    <span>Bootstrap Buttons</span>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>
  </div>
</div>
<div class="container my-3">
  <div class="row justify-content-between">
    <span>Angular Material Buttons</span>
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</div>
<section style="margin: 30px 20px;">
  <p class="text-center" >Angular Material Card</p>
  <mat-card>
    <mat-card-title>
      <div class="d-flex justify-content-between align-items-center">
        <span>Title</span>
        <span><img mat-card-avatar src="https://picsum.photos/200" /></span> 
      </div>
    </mat-card-title>
    <mat-card-subtitle>Some Desc </mat-card-subtitle>
    <img mat-card-lg-image style="max-width: 100%; max-height: fit-content;" src="https://source.unsplash.com/random" />
  </mat-card>
</section>
