<div class="container my-3">
  <div class="row justify-content-between">
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-success">Success</button>
  </div>
</div>
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<section style="margin: 30px 20px;">
  <mat-card>
    <mat-card-title>
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <span>Title</span>
        <span> <img mat-card-avatar src="https://picsum.photos/200" /></span> 
      </div>
    </mat-card-title>
    <mat-card-subtitle>Some Desc </mat-card-subtitle>
    <img mat-card-lg-image style="max-width: 100%; max-height: fit-content;" src="https://source.unsplash.com/random" />
  </mat-card>
</section>
